In [8]:
import sqlite3
import pandas as pd
import numpy as np

In [9]:
connection = sqlite3.connect("test.db")
cursor = connection.cursor()

In [10]:
def read_query(query, cursor):
    cursor.execute(query)
    result = cursor.fetchall()
    attr_arr = cursor.description
    attr = []
    for val in attr_arr:
        attr.append(val[0])
    json_res = []
    for user in result:
        obj = {}
        for i in range(len(attr)):
            obj[attr[i]] = user[i]
        json_res.append(obj)
    
    return json_res

In [11]:
query = '''select students.regi, students.name, courses.code, courses.name as course_title, marks.marks
from students inner join marks on students.regi=marks.regi
inner join courses on marks.course_code=courses.code;'''  # same query as sql_e
result = read_query(query, cursor)
result[0:3]

[{'regi': 2121000001,
  'name': 'Adam',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 90.0},
 {'regi': 2121000001,
  'name': 'Adam',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 97.0},
 {'regi': 2121000001,
  'name': 'Adam',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 93.5}]

## Write appropriate queries and manipulate the data using python to create a **tabulation** dictionary like below

In [12]:
# tabulation = {
#     2121000001: {
#       'Registration': 2121000001,
#       'name': 'Adam',
#       'CSE331': 90.0,
#       'CSE333': 97.0,
#       'CSE335': 93.5,
#       'CSE365': 96.5,
#       'CSE325': 88.5,
#       'CSE345': 100.0
#     },
#     2121000002: {
#       'Registration': 2121000002,
#       'name': 'Alex',
#       'CSE331': 62.0,
#       'CSE333': 37.0,
#       'CSE335': 49.5,
#       'CSE365': 44.5,
#       'CSE325': 53.5,
#       'CSE345': 46.5
#     },
#     2121000003: {
#       'Registration': 2121000003,
#       'name': 'Aaron',
#       'CSE331': 91.0,
#       'CSE333': 75.0,
#       'CSE335': 83.0,
#       'CSE365': 83.0,
#       'CSE325': 76.0,
#       'CSE345': 91.0
#     },
# }

tabulation = {}
for marks in result:
    if marks['regi'] not in tabulation:
        tabulation[marks['regi']] = {
            'Registration': marks['regi'],
            'name': marks['name'],
        }
    tabulation[marks['regi']][marks['code']] = marks['marks']
# tabulation

## Then you can display the result using the following cells

In [13]:
df = pd.DataFrame.from_dict(tabulation, orient='index')

In [14]:
df.style.hide_index()